doctype html
html
    head
        title Lista de TODOs
        meta(charset='UTF-8')
        link(rel='stylesheet',href='../resources/w3.css')
        link(rel='shortcut icon',type='image/x-icon' ,href='../resources/favicon.ico')
    body
        block content
        include footer